.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.logo-image {
  width: 100px;
}

.price-checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}


.delivery-slot {
  font-size: 14px;
  color: green;
  font-weight: bold;
  text-align: center;
}

.copyright a {
  color: #c8c8c8;
  font-size: 1.4rem;
  font-weight: normal;
}

.form-select {
  font-size: 1.5rem !important;
}

.payment-type {
  font-size: 1.5rem;
}

.cart-total {
  font-size: 1.5rem;
}

.main-heading-custom-font-1 {
  color: #797979;
  font-size: 3.6rem;
  font-weight: 700;
}

.heading-custom-font-1 {
  color: #797979;
  font-size: 2rem;
  font-weight: 700;
}

.text-custom-font-1 {
  color: #797979;
  font-size: 1.5rem;
  font-weight: 400;
}

@media print {

  .header,
  .footer,
  .nav {
    display: none;
  }
}

/* searchbutton */
 .header-search-btn1 {
  width: 51.6rem;
  height: 4.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0px;
  border: 1px solid rgba(52, 168, 83, 0.18);
  overflow: hidden;
  font-size: 1.2rem;
  border-radius: 4px;
}
 .header-search-btn1 input {
  padding: 1.2rem;
  color: #8e8e8e;
  margin: auto;
}
.header-search-btn1 button {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 0px;
  padding: 0 2rem;
  color: #f2f2f2;
  height: 100%;
  background-color: #34a853;
}